.passport-button {
  position: relative;
  background-color: #F3F3F3 !important;
  height: 48px;
  width: auto;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding: 0 10px 0 10px;
}

.passport-button-title {
  padding-left: 12px;
  padding-right: 12px;
}