.passport-button {
  background-color: #F3F3F3 !important;
  height: 48px;
  width: 252px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  padding: 0.6em 0.6em;
}