#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-info {
  width: 550px;
  padding: 12px;
  border-radius: 12px;
  border: solid lightgray 0.5px;
  word-break: break-all;
  text-align: left;
  font-size: medium;
}

.user-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: '100%';
}

.docs-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}